html {
  width: 100%;
}

body {
  background: #fbfbfb;
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin: 4rem;
  background-color: cornflowerblue;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin: 1rem 0rem 1rem 0rem;
  overflow: hidden;
  border-radius: 1rem 1rem 1rem 1rem;
}

a,
a:hover,
a:visited,
a:active {
  color: white;
  text-decoration: none;
}
.cadreTitre {
  margin: auto;
}

h1 {
  color: red;
  font-style: italic;
}
h2 {
  font-size: 1.3rem;
}

ul {
  list-style-type: none;
  font-size: 1rem;
  margin: 1rem;
  padding-right: 2rem;
}

.image1 {
  border-radius: 1rem 1rem 1rem 1rem;
  overflow: hidden;
}
img {
  width: 100%;
  margin-bottom: -0.5rem;
}

/* items */

.titreBandeau2Box {
  text-align: center;
    font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: red;
  margin-top: 2rem;
  text-transform: uppercase;
  margin-bottom: -1rem;

  padding: 0.4rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.titreBandeauBoxA,
.titreBandeauBoxB {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: firebrick;
  padding: 0.4rem;
}

.bandeau {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

.bandeauAdresse {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 1rem;
}

.box1 {
  background-color: white;
  color: black;
  border-radius: 0rem 0rem 0rem 1rem;
  display: inline-block;
  margin: auto;
  width: 50%;
}

.box2 {
  background-color: white;
  border-radius: 0rem 0rem 1rem 0rem;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.box1Adresse {
  background-color: white;
  border-radius: 1rem 0rem 0rem 1rem;
  display: inline-block;
  margin: auto;
  width: 35%;
  margin: auto;
}
.box2Adresse {
  background-color: white;
  border-radius: 0rem 1rem 1rem 1rem;
  color: black;
  display: inline-block;
  vertical-align: top;
  width: 70%;
  margin: auto;
}

.sectionAdresse {
  background-color: white;
  color: black;
  display: inline-block;
  vertical-align: top;
  width: 70%;
}
.telephonne {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 0.5rem;
}
thead {
  text-align: center;
}
table,
td {
  margin: auto;
  padding: 1rem;
  white-space: nowrap;
}
.boxZoom {
  display: table-cell;
  vertical-align: middle;
  padding: 1rem;
}
/* [1] The container Zoom */
.img-hover-zoom {
  /*height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  border-radius: 1rem 1rem 1rem 1rem;
  margin: 0.5rem;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform 0.5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
}

.presentation {
  background-color: white;
  border-radius: 1rem 1rem 1rem 1rem;
  color: black;
  text-align: justify;
  font-size: 1.2rem;
  font-weight: bold;
  color: dimgray;
  margin-top: 1rem;
  padding: 2rem;
}

/* Deux box */
.bandeauAvec2box {
  margin-top: 1rem;
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.boxA {
  background-color: white;
  color: black;
  border-radius: 1rem 0rem 0rem 1rem;
  display: inline-block;
  width: 50%;
  margin: 0rem;
}

.boxB {
  background-color: white;
  border-radius: 0rem 1rem 1rem 0rem;
  color: black;
  display: inline-block;

  width: 50%;
}

.titreA,
.titreB {
  width: 100%;
  background-color: red;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin-top: 0rem;
  padding: 0.4rem;
}

.titreA {
  border-radius: 1rem 0rem 0rem 0rem;
}
.titreB {
  border-radius: 0rem 1rem 0rem 0rem;
}

.rouge {
  color: red;
}
.lienLeboncoin {
  background-color: #ff6e14;
}
footer {
  justify-content: space-between;
  background-color: white;
  color: black;
  text-align: center;
  line-height: 3rem;
  font-size: 1.6rem;
  margin: 1rem 0rem 1rem 0rem;
  overflow: hidden;
  border-radius: 1rem 1rem 1rem 1rem;
}

@media all and (max-width: 1300px) {
  .titreA,
  .titreB {
    height: 3rem;
  }
}

.box1Adresse {
  width: 90%;
}
@media all and (max-width: 1024px) {
  body {
    margin: 1rem;
  }
  header {
    flex-direction: column;
  }
  h1{
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  ul {
    font-size: 0.7rem;
    line-height: 1.5;
  }
  td {
    padding: 0.25rem;
  }
  .bandeau {
    flex-direction: column;
    border-radius: 0rem 0rem 1rem 1rem;
  }
  .bandeauAdresse {
    flex-direction: column;
    border-radius: 1rem 1rem 1rem 1rem;
    padding: 0.7rem;
  }
  .tableAdresse {
    font-size: 0.7rem;
    padding: 0%;
  }
  .telephonne {
    height: 0.7rem;
  }
  .box2Adresse {
    margin: auto;
    width: 100%;
  }
  .presentation {
    font-size: 1rem;
  }

  .bandeauAvec2box {
    flex-direction: column;
    border-radius: 0rem 0rem 1rem 1rem;
  }

  .titreA,
  .titreB {
    border-radius: 1rem 1rem 0 0;
  }

  .box1,
  .box2,
  .boxA,
  .boxB {
    margin: auto;
    width: 100%;
    margin-top: 1rem;
    border-radius: 1rem 1rem 1rem 1rem;
  }

  .box1 {
    border-radius: 1rem 1rem 0rem 0rem;
  }
  .box2 {
    border-radius: 0rem 0rem 1rem 1rem;
  }

  .boxZoom {
    padding: 0.2rem;
  }
}
